[Desktop Entry]
Version=0.26
Encoding=UTF-8
Name=Wah!Cade Setup Editor
Comment=Setup Wah!Cade
Exec=wahcade-setup
Terminal=false
Type=Application
Icon=wahcade-setup.png
Categories=Game;ArcadeGame;
StartupNotify=False
GenericName[en_GB]=
