[Desktop Entry]
Version=0.26
Encoding=UTF-8
Name=Wah!Cade Layout Editor
Comment=Edit Wah!Cade Layouts
Exec=wahcade-layout-editor
Terminal=false
Type=Application
Icon=wahcade-layout-editor.png
Categories=Game;ArcadeGame;
StartupNotify=False
GenericName[en_GB]=
